<%- include('partials/header') -%>

<div class="container">
    <div class="row">
        <div class="col-4 offset-4" style="margin-top: 100px;">
            <nav class="nav nav-pills" role="tablist">
                <a href="#js-login-area" role="tab"
                    class="nav-item nav-link <%- activeTab == 'login' ? 'active show' : '' -%>">Login</a>
                <a href="#js-registration-area" role="tab" tabindex="-1" aria-selected="false"
                    class="nav-item nav-link <%- activeTab == 'register' ? 'active show' : '' -%>">Registration</a>
            </nav>
            <hr />
            <div class="tab-content">
                <div id="js-login-area" role="tabpanel"
                    class="fade tab-pane <%- activeTab == 'login' ? 'active show' : '' -%>">
                    <form class="auth-form">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="text" name="username" id="js-login-username" class="form-control" />
                                <p class="alert alert-danger" id="js-login-username-error" style="display: none;"></p>
                            </div>

                            <div class="form-group">
                                <input type="password" name="password" id="js-login-password" class="form-control" />
                                <p class="alert alert-danger" id="js-login-password-error" style="display: none;"></p>
                            </div>
                            <button type="submit" id="js-login-btn" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
                <div id="js-registration-area" role="tabpanel" aria-hidden="true"
                    class="fade tab-pane <%- activeTab == 'register' ? 'active show' : '' -%>">
                    <form class="auth-form">
                        <div class="form-group">
                            <input type="text" name="username" id="js-signup-username" class="form-control" />
                            <p class="alert alert-danger" id="js-signup-username-error" style="display: none;"></p>
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" id="js-signup-password" class="form-control" />
                            <p class="alert alert-danger" id="js-signup-password-error" style="display: none;"></p>
                        </div>

                        <button type="submit" id="js-signup-btn" class="btn btn-primary">Registration</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer') -%>